.experience {
	border: 2px solid var(--main-color);
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
}

.experience-header {
	color: var(--main-color);
	display: flex;
	flex-direction: column;
}

.experience-lt {
	color: var(--highlight-color);
	display: flex;
	flex-direction: column;
}

.experience-description {
	color: var(--text-color);
	margin: -1;
	padding-left: 19px;
	list-style-type: "> ";
	margin-bottom: 0;
}

.experience-description-line {
	margin-top: 5px;

	&::marker {
		color: var(--highlight-color);
	}
}

.experience-subdescription {
	list-style-type: "~ ";
}

.experience-description-subline {
	margin-top: 5px;

	&::marker {
		color: var(--highlight-color);
	}
}

@media only screen and (min-width: 469px) {
	.experience-header {
		flex-direction: row;
		gap: 9px;
	}

	.experience-lt {
		flex-direction: row;
		gap: 9px;
	}
}