.experience {
	border: 1px solid var(--main-color);
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
}

.experience-header {
	color: var(--main-color);
	display: flex;
	flex-direction: row;
	gap: 9px;
}

.experience-lt {
	color: var(--highlight-color);
	display: flex;
	flex-direction: row;
	gap: 9px;
}

.experience-description {
	color: #ffffff;
	margin: -1;
	padding-left: 19px;
	list-style-type: "> ";
	margin-bottom: 0;
}

.experience-description-line {
	margin-top: 5px;

	&::marker {
		color: var(--highlight-color);
	}
}

.experience-subdescription {
	list-style-type: "~ ";
}

.experience-description-subline {
	margin-top: 5px;

	&::marker {
		color: var(--highlight-color);
	}
}