.nav-item {
	background-color: var(--main-color);
	border: 1px solid var(--highlight-color);
	border-radius: 25px;
	min-width: 150px;
	min-height: 10px;
	line-height: 10px;
	flex-basis: auto;
	text-align: center;
}

.nav-item:hover {
	background-color: var(--accent-color); 
}

.nav-item-text {
}