.content {
  width: 50%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
}

.intro {
  font-size: 12pt;
  display: flex;
  flex-direction: row;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons > a + a {
  margin-top: 10px;
}

.game {
  margin: 25px 0;
  display: flex;
  flex-direction: row;
}

.gameLink {
  flex-grow: 0;
  flex-shrink: 1;
}

.gameTitle {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 10px;
}

.gameDescription {
  margin-left: 25px;
  align-self: center;
  min-width: 445px;
}

@media only screen and (orientation: portrait) {
  .game {
    flex-wrap: wrap;
  }

  .gameDescription {
    margin-left: 0;
  }
}
