.nav-bar {
}

.nav-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
	gap: 20px;
}

@media only screen and (min-width: 469) {
	.nav-container {
		flex-direction: row;
		gap: 100px;
		justify-content: center;
	}
}