.nav-bar {
	background-color: #94d5d5;
}

.nav-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.nav-container:first-child {
	margin-left: -100px;
}

.nav-container:last-child {
	margin-right: -100px;
}