:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--background-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: rgb(18, 18, 18);
  --highlight-color: #ffcdc5;
  --main-color: #ffaca4;
  --accent-color: #e67383;
}

a {
  font-weight: 500;
  color: var(--background-color); 
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  margin: 0 0 5px 0;
}

h4 {
  margin: 0 0 5px 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.center-format {
  display: flex;
  flex-direction: row;
}

.spacer {
  flex-grow: 10;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--background-color);
    background-color: var(--background-color);

    --background-color: #ffffff;
    --highlight-color: #e67383;
    --main-color: #ffaca4;
    --accent-color: #ffcdc5;
  }

  button {
    background-color: var(--accent-color);
  }
}